.header {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 35.62px;

    &__logo {
      width: 97px;
      height: 41.38px;
      padding-bottom: 0;

      & > img {
        width: 97px;
        height: 41.38px;
      }
    }
  }
}

.header__container__nav {
  display: none;
}

.header__container_menuBtns {
  display: flex;
  align-items: center;
}
.header__container__buttonLang {
  border: none;
  background: none;
  width: 39px;
  height: 20px;
  margin-top: 3px;
  margin-right: 33px;
  padding: 0;

  & > svg {
    position: relative;
    left: 6px;
  }
}
.header__container__buttonMenu {
  border: none;
  background: none;
  width: 36px;
  height: 26px;
  padding: 0;
  &.menu-is-open {
    display: none;
  }
}
.header__container__buttonCloseMenu {
  display: none;
  border: none;
  background: none;
  width: 36px;
  height: 26px;
  padding: 0;

  &.menu-is-open {
    display: block;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 135px;
  left: 0;
  width: 100vw;
  // height: 100vh;
  padding: 36px 100px 0 125px;
  background-color: white;

  transform: translateX(100%);
  z-index: 20;

  & a {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 77px;
    text-align: center;
  }
}

.menuContainer.is-open {
  transform: translateX(0);
  transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.header.menu-is-open {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
}

.header__container__buttonOffer--mobile {
  display: block;
  width: 152px;
  height: 57px;
  background: #ffb001;
  border: 2px solid #ffb001;
  box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
  border-radius: 28.5px;
  padding: 18px 57px 35px 56px;

  & span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #212121;
  }
}

.header__container__buttonOffer {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header__container {
    position: fixed;
    top: 0;
    padding-top: 41px;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 4px 24px -5px rgba(0, 0, 0, 0.15);
  }
  .header__container__logo {
    width: 119.54px;
    height: 51px;
    & > img {
      width: 119.54px;
      height: 51px;
    }
  }
  .header__container__buttonMenu {
    display: none;
  }
  .header__container__buttonLang {
    margin-right: 29px;
  }
  .header__container__buttonOffer {
    display: block;
    width: 152px;
    height: 57px;
    background: #ffb001;
    border: 2px solid #ffb001;
    box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
    border-radius: 28.5px;
    padding: 18px 57px 35px 56px;

    & span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #212121;
    }
  }
  .header__container__nav {
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    width: 472px;
    margin-top: 3px;
    & a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #212121;
      // &:not(:last-child) {
      //   margin-right: 47px;
    }
    &__link--3 {
      margin-right: -6px;
    }
  }
}
