.header {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 57.62px;

    &__logo {
      width: 97px;
      height: 41.38px;
      padding-bottom: 0;

      & > img {
        width: 97px;
        height: 41.38px;
      }
    }
  }
}

.header__container__nav {
  display: none;
}

.header__container_menuBtns {
  display: flex;
  align-items: center;
}
.header__container__buttonLang {
  border: none;
  background: none;
  width: 39px;
  height: 20px;
  margin-right: 29px;
  padding: 0;
}
.header__container__buttonMenu {
  border: none;
  background: none;
  width: 36px;
  height: 26px;
}
